In [1]:
import torch
import torch.nn as nn
import pandas as pd
import matplotlib.pyplot as plt
from torch.utils.data import DataLoader, TensorDataset, random_split

ModuleNotFoundError: No module named 'torch'

In [ ]:
dataframe_raw = pd.read_csv( "./car data.csv")
dataframe_raw.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [ ]:
def customize_dataset(dataframe_raw, rand_str):
    dataframe = dataframe_raw.copy(deep=True)
    # drop some rows
    dataframe = dataframe.sample(int(0.95*len(dataframe)), random_state=int(ord(rand_str[0])))
    # scale input
    dataframe.Kms_Driven=dataframe.Kms_Driven/10000
    # scale target
    # dataframe.Selling_Price = dataframe.Selling_Price *10.
    # drop column
    if ord(rand_str[3]) % 2 == 1:
        dataframe = dataframe.drop(['Car_Name'], axis=1)
    return dataframe

In [ ]:
your_name = "ChengxuWan"
dataframe = customize_dataset(dataframe_raw, your_name)
del dataframe['Car_Name']
Age = 2023 - dataframe['Year']
dataframe.insert(1,'Age',Age)
del dataframe['Year']
dataframe

,Age,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
176,12,0.35,1.05,3.0000,Petrol,Individual,Manual,0
2,6,7.25,9.85,0.6900,Petrol,Dealer,Manual,0
9,8,7.45,8.92,4.2367,Diesel,Dealer,Manual,0
164,7,0.45,0.54,1.4000,Petrol,Individual,Manual,0
204,8,2.75,4.43,2.8282,Petrol,Dealer,Manual,0
...,...,...,...,...,...,...,...,...
174,8,0.38,0.72,3.8600,Petrol,Individual,Manual,0
218,9,6.45,9.40,4.5078,Petrol,Dealer,Manual,0
156,6,0.48,0.52,1.5000,Petrol,Individual,Manual,0
297,8,4.00,5.90,6.0000,Petrol,Dealer,Manual,0
245,11,5.20,9.40,7.1000,Diesel,Dealer,Manual,0

In [ ]:
input_cols = ["Age","Present_Price","Kms_Driven","Seller_Type","Fuel_Type"]
categorical_cols = ["Fuel_Type","Seller_Type","Transmission"] 
output_cols = ["Selling_Price"]
def dataframe_to_arrays(dataframe):
    # Make a copy of the original dataframe
    dataframe1 = dataframe.copy(deep=True)
    # print(dataframe1[:])    # Convert non-numeric categorical columns to numbers
    for col in categorical_cols:
        dataframe1[col] = dataframe1[col].astype('category').cat.codes
    # print(dataframe1[:])
    inputs_array = dataframe1[input_cols].to_numpy()
    targets_array = dataframe1[output_cols].to_numpy()
    return inputs_array,targets_array,dataframe1

In [ ]:
inputs_array, targets_array, dataframe1 = dataframe_to_arrays(dataframe)
dataframe1.to_csv('Predict.csv', index=False)
dataframe1

NameError: name 'dataframe_to_arrays' is not defined